@keyframes hidescreen {
  0% {
    opacity: 1;
    z-index: 3;
  }
  90% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes dotsgone {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes loadingspinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0 0 0 0;
}

h1 {
  margin: 0 0 0 0;
  font-size: 1.3em;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

.loader {
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  animation: 1.85s hidescreen;
}

.loader--dot {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
}

.fa-circle {
  font-size: 1.6em;
  margin-right: 2px;
  animation: 1.5s dotsgone infinite ease-in-out backwards;
}

.circle1 {
  color: #9356DC;
}

.circle2 {
  color: #FF79DA;
  animation-delay: 0.2s;
}

.circle3 {
  color: #99E2D0;
  animation-delay: 0.4s;
}

.circle4 {
  color: #FF79DA;
  animation-delay: 0.6s;
}

.circle5 {
  color: #9356DC;
  animation-delay: 0.8s;
}

header {
  padding: 20px 0 10px 0;
  border-bottom: solid 1.8px #aaaaaa;
}

#logo {
  display: block;
  margin: 0 auto 0;
  width: 180px;
}

.search {
  text-align: center;
}
.search h2 {
  margin: 0 0;
  line-height: 1.2em;
  margin-bottom: 15px;
}

#search__topitem {
  background-color: #eaeaea;
  color: #353535;
  font-weight: bold;
  font-size: 0.95em;
  border-top: solid 1.8px #d2d2d2;
  display: flex;
  justify-content: center;
}
#search__topitem p {
  margin-right: 15px;
}

.fa-map-marker-alt {
  margin: 14px 15px 0 0;
}

#search__block {
  background-color: #f6f6f6;
  padding: 30px 0 55px 0;
  margin-bottom: 45px;
}
#search__block p {
  color: #656565;
  margin-bottom: 30px;
}

#search__btn {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  border-radius: 45px;
  box-shadow: 0px 3px 8px 3px #c8c8c8;
  font-size: 0.9em;
  border: none;
  padding: 15px 22px;
}

#search__btn:hover {
  box-shadow: 0px 3px 8px 3px #787878;
  opacity: 0.75;
  transition: 1s;
}

#fstContainer {
  margin-bottom: 65px;
}
#fstContainer h2 {
  margin: 0px 0px 25px 6%;
}
#fstContainer p {
  font-weight: bold;
  font-size: 0.9em;
  margin-right: auto;
  margin-left: auto;
}
@media all and (min-width: 768px) {
  .fstContainer__blockBtn {
    display: flex;
    margin: 0 6% 0 6%;
  }
}

.fstContainer__btn {
  display: flex;
  background-color: #f6f6f6;
  margin: 0px 7% 25px 7%;
  border-radius: 20px;
  padding: 9px 0 8px 0;
  box-shadow: 0px 3px 8px 2px #e6e6e6;
}
@media all and (min-width: 768px) {
  .fstContainer__btn {
    width: 33%;
    justify-content: center;
    margin: 0 0 0 0;
  }
  .fstContainer__btn:nth-of-type(1) {
    margin-right: 20px;
  }
  .fstContainer__btn:nth-of-type(2) {
    margin-right: 20px;
  }
}

.fstContainer__btn:hover {
  background-color: #f5edff;
}

.fstContainer__btn:hover .fstContainer__btnIcon {
  color: #9356DC;
}
@media all and (min-width: 768px) and (max-width: 1000px) {
  .fstContainer__btn:hover .fstContainer__btnIcon {
    color: transparent;
  }
}

#rnd1 {
  display: block;
  margin-top: 15px;
  font-size: 0.8em;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  height: 20px;
  width: 22px;
  text-align: center;
  padding-top: 3px;
  margin-right: 25px;
  margin-left: -9px;
}

#rnd2 {
  display: block;
  margin-top: 15px;
  font-size: 0.8em;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  height: 20px;
  width: 22px;
  text-align: center;
  padding-top: 3px;
  margin-right: 25px;
  margin-left: -9px;
}

#rnd3 {
  display: block;
  margin-top: 15px;
  font-size: 0.8em;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  height: 20px;
  width: 22px;
  text-align: center;
  padding-top: 3px;
  margin-right: 25px;
  margin-left: -9px;
}

.fstContainer__btnIcon {
  margin-top: 17px;
  font-size: 1em;
  color: #7e7e7e;
}
@media all and (min-width: 768px) and (max-width: 1000px) {
  .fstContainer__btnIcon {
    color: transparent;
  }
}

.fa-mobile-alt {
  margin-right: -50px;
}

.fa-list-ul {
  margin-right: -67px;
}

.fa-store {
  margin-right: -65px;
}

#scndContainer {
  background-color: #f6f6f6;
  padding: 0 5% 45px;
}
#scndContainer h2 {
  margin: 0 0 20px 1%;
  padding-top: 45px;
}
#scndContainer p {
  margin: 14px 0 10px 15px;
}

@media all and (min-width: 768px) {
  #scndContainer__fstLine {
    display: flex;
    justify-content: space-around;
  }
}

@media all and (min-width: 768px) {
  #scndContainer__scndLine {
    display: flex;
  }
}

figure {
  margin: 0 0 20px 0;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  box-shadow: 0px 3px 8px 2px #c8c8c8;
}
@media all and (min-width: 768px) {
  figure {
    margin: 0 10px 20px 10px;
  }
}

figure:hover {
  box-shadow: 0px 3px 8px 3px #787878;
  opacity: 0.75;
  transition: 1s;
}

figcaption {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 5px;
  margin-top: -53.1px;
}

.scndContainer__name {
  margin: 15px 0 5px 15px;
  font-size: 1.1em;
}

.scndContainer__icon {
  font-size: 1.6em;
  margin: -16px 50px 0 0;
  align-self: flex-end;
}

.far.fa-heart {
  position: absolute;
  padding: 0 1px 0;
  z-index: 2;
}
.far.fa-heart:hover {
  transition: color 0.6s ease;
  color: transparent;
}

.scndContainer__desc {
  position: absolute;
  width: 28px;
  height: 28px;
  background: white;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.far.fa-heart:hover + .scndContainer__desc {
  transform: translate(0px, -28px);
}

.fas.fa-heart {
  position: absolute;
  padding: 0 1px 0;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  clip-path: polygon(50% 22%, 57% 13%, 69% 6%, 83% 7%, 93% 14%, 97% 31%, 93% 49%, 82% 64%, 67% 81%, 51% 92%, 33% 77%, 16% 60%, 6% 42%, 4% 27%, 6% 17%, 14% 8%, 27% 6%, 40% 11%);
  color: transparent;
}

.scndContainer__photo {
  width: 100%;
  position: relative;
  bottom: 50px;
}

.new, .firstNew {
  background-color: #99E2D0;
  border-radius: 3px;
  font-size: 0.8em;
  color: #008766;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  margin-top: 17px;
  padding: 5px 10px;
  right: 10%;
}
@media all and (min-width: 431px) {
  .new, .firstNew {
    font-size: 0.9em;
  }
}
@media all and (min-width: 516px) {
  .new, .firstNew {
    font-size: 1em;
  }
}
@media all and (min-width: 621px) {
  .new, .firstNew {
    font-size: 1.1em;
  }
}
@media all and (min-width: 768px) {
  .new, .firstNew {
    font-size: 0.9em;
  }
}
@media all and (min-width: 900px) {
  .new, .firstNew {
    font-size: 1em;
  }
}
@media all and (min-width: 1080px) {
  .new, .firstNew {
    font-size: 1em;
  }
}

@media all and (min-width: 768px) {
  .firstNew {
    right: 55%;
  }
}

footer {
  background-color: #383838;
  color: white;
  padding: 25px 0px 20px 6%;
}
footer h1 {
  font-family: "Shrikhand";
  font-weight: normal;
  margin-bottom: 15px;
}
footer p {
  margin: 0 0 8px 0;
}
footer a {
  color: white;
}

.fa-utensils {
  margin: 0 8px 0 2px;
  font-size: 0.8em;
}

.fa-hands-helping {
  margin-right: 4px;
  font-size: 0.8em;
  transform: rotate(-10deg);
}

/*# sourceMappingURL=style.css.map */
